extends base

block content
    main.main
        .flex--box.flex-box-add
            .reset_pass-input
                input#email.form__input(type="email" placeholder='Email') 
            
            .reset_pass-btn
                button#forgot_password.btn.btn--green Submit