extends base

block content
    main.main
        .flex--box.flex-box-add
            .reset_pass-input
                input#password.form__input(type="password" placeholder='New Password') 
            .reset_pass-input
                input#confirm_password.form__input(type="password" placeholder='confirm Password')
            .reset_pass-btn
                button#reset_pass.btn.btn--green(data-token= `${token}`) Submit