extends base

block content
    main.main
        .error
            .error__title
                h2.heading-secondary.ma-bt-lg Congratulations You verified your Email  
                h2.error__emoji 🤘 
            